

 /**************************
*
*	GENERAL
*
**************************/

.slider_wrapper {
	overflow: hidden;
	height: 876px;
	position: relative;
	background: #fff;
}

.slider_wrapper>div {
	width: 948px;
	height: 390px;
	top:30px;
	position: absolute;
	margin-left: 0px;
}

.caroufredsel_wrapper {
	top: 0 !important;
}

.camera_wrap {
	position: relative;
	display: none;
	z-index: 0;
	margin-bottom: 0 !important;
	width: 100%;
}

.camera_wrap img {
	max-width: 958px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.html);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}

/*
.slide_wrapper .camera_prev{
	background: url(../images/prevnext_bg.png) 0 0 repeat;
	width: 70px;	
	top: 0 !important;
	height: auto !important;
	bottom: 0;
	left: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.slide_wrapper .camera_prev>span {
	background: url(../images/prev.png) center 0 no-repeat;
	top: 50%;
		
	margin-top: -10px;
	position: absolute;
	display: block;
	white-space: 23px;
	height: 20px;
	left: 0;
	right: 0;
}

.slide_wrapper .camera_next>span {
	background: url(../images/next.png) center 0 no-repeat;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	white-space: 23px;
	height: 20px;
}
.slide_wrapper .camera_next {
	background: url(../images/prevnext_bg.png) 0 0 repeat;
	width: 70px;	
	top: 0  !important;
	bottom: 0;
	height: auto !important;

	right: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
*/



.camera_prev {
	position:absolute;
	display:block;
	top: 307px;
	left: 5px;
	z-index:999;	
	cursor:pointer;
	width:41px;
	height:41px;
	background:url(../images/prev.png) no-repeat 0 0;
	background-size:cover;
}

.camera_next {
	position:absolute;
	display:block;
	top: 307px;
	cursor:pointer;
	right: 5px;
	width:41px;	
	height: 41px;
	z-index: 999;
	background: url(../images/next.png) no-repeat -41px 0;
	background-size: cover;
}

.camera_prev span {
	display:block;
}

.camera_prev:hover{
	background-position:-41px 0;
}
.camera_next:hover {
	background-position:0 0;
}






.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}



.caption {
	position: absolute;
	left: 0px;
	text-align: left;
	top: 182px;
}

.caption span {
	padding-right: 10px;
	display: inline-block;
	margin-bottom: 3px;
}

/**************************
*
*	COLORS & SKINS
*
**************************/


.camera_pag  {
    top: 433px;
	display: inline-block;
	height: 22px;
	position: absolute;
	left: 505px;
	z-index: 60;
}

.camera_pag_ul {


}

.camera_pag ul li {
		float:left;
		padding:0 7px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
}


.camera_pag ul li span {
			display:block;
			width:50px;
			height:4px;
			/*background:url(../images/pagin-a.jpg) left 0px no-repeat;*/
			font-size:0;
			line-height:0;
			text-decoration:none;
}

.camera_pag ul li:hover span, .camera_pag ul li.cameracurrent span {
	background-position:0 -4px;
	cursor: pointer;
}

/*

.camera_prev {
	 background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
    bottom: 259px;
    display: block;
    height: 51px;
    left: 332px;
    position: absolute;
    width: 34px;
    z-index: 15;
    opacity: 1px !important;
}


.camera_next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    bottom: 259px;
    display: block;
    height: 51px;
    position: absolute;
    right: 329px;
    width: 34px;
    z-index: 15;
	opacity: 1 !important;

}


.camera_prev:hover, .camera_next:hover{
	background-position: 0 -105px;
	cursor: pointer;
}

*/


.banner { 
	font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    top: 80px;
    visibility: hidden;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    z-index: 15;
}
.banner .txt_1{
	font-weight: 100;
	font-size: 115px;
	line-height: 115px;
	padding-bottom: 15px;
}
.banner .txt_2{
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 12px;
}
.banner .txt_3{
	font-weight: 300;
	font-size: 50px;
	line-height: 50px;
	padding-bottom: 27px;

}
.banner .txt_4{
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 57px;
	letter-spacing: 0;
}
.banner .txt_4 span{
	position: relative;
	display: inline-block;
	height: 12px;
	width: 30px;
	background: url('../images/separator2.png') center center no-repeat;
}