/*css*/
@import "reset.css";
@import "skeleton.css";
@import"superfish.css";
@import "ui.totop.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:500);

@import url(http://fonts.googleapis.com/css?family=Homenaje);

body{font:11px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; color: #333; position:relative; -webkit-text-size-adjust: none; line-height:20px;
}
#topbar{position:absolute; width:350px; visibility: hidden; z-index: 99;}
/*#main{ margin:0 auto; position:relative; width:960px; height:auto; min-height:900px;}*/
html,body{height:100%;}
.campo { margin:2px; padding:8px 2px; background: #efefef; border: 1px solid #8cb807; transition:all 0.3s ease-out;  font-size:20px; color:#000; font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
select{ height:37px; font-size:20px; font-weight:lighter; margin: 2px; padding: 3px 8px; background: #efefef; border: 1px solid #8cb807; transition:all 0.3s ease-out;  color:#000; font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;}
.campo2 {width:60px;  margin: 2px; padding: 5px 4px; background: #fff; border: 1px solid #bbb; transition:all 0.3s ease-out;  font-size:20px; color:#000; font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
textarea{font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; color:#444; font-size:15px; }
.submit {display: inline-block;  margin: 2px; width:120px;  padding: 6px 17px; background:#8cb807; border: 1px solid rgba(0,0,0,0.15); transition: all 0.3s ease-out;   /* Font styles */
font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; text-decoration: none; font-size:20px; color:#FFF; }
.submit:hover {background-color: #5a4099; color:#fff; }

.form_style{ font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; font-size:19px; width:100px; border:solid #8cb807 1px; margin:1px; padding:2px; background:#fff; color:#000;}

#line{ border-bottom:solid 1px #ccc; padding:10px;}


#calen{margin:0 auto; position:relative; width:618px; height:320px; background:url(../images/bg.jpg) no-repeat center;}
.cell{border:solid 1px #698a07; height:35px; text-align:center; background:#8cb807; color:#fff; font-size:18px; width:100px;}
.cell2{border:solid 1px #ccc; height:35px; font-size:24px; text-align:center; color:#fff; background:url(../images/bg_cell.png);}
.activado{border:solid 1px #3b2375; background:#5a4099; color:#fff; height:35px; font-size:24px; text-align:center;}
#calen a{text-decoration:none; color:#8cb907;}
.tooltip {position: relative;}
.tooltip:hover:after {bottom: 26px; content: attr(title); /* este es el texto que será mostrado */ left: 20%; position: absolute; z-index: 98;    /* el formato gráfico */
background: rgba(255,255,255, 0.9); /* el color de fondo */ border-radius: 5px; color: #000; /* el color del texto */ font-family:'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 16px; padding: 5px 15px; text-align:left; width: 200px;}
.tooltip:hover:before {bottom: 20px; content: ""; left: 50%; position: absolute; z-index: 99; /* el triángulo inferior */ border: solid;    border-color: rgba(255,255,255, 0.9) transparent; border-width: 6px 6px 0 6px;}

/*********Tiny-slider************/
.slider-bg {width:615px; height:200px; margin:0 auto 2px;  position:relative; z-index:1; overflow:hidden; padding:0px;}
.slider-bg .prev { width:35px; height:180px; cursor:pointer; position:absolute; top:140px; z-index:9999;  text-indent:-9000px; left:550px; display:block; background:url(images/prev.html) 0 0 no-repeat;}	
.slider-bg .prev:hover {background:url(images/prev-hover.html) 0 0 no-repeat;}
.slider-bg .next { width:35px; height:180px; cursor:pointer; position:absolute; z-index:9999; text-indent:-9000px; top:140px; right:0px; display:block; background:url(images/next.html) 0 0 no-repeat;}
.slider-bg .next:hover {background:url(images/next-hover.html) 0 0 no-repeat;}	
.prev img, .next img {display:none !important;}
#carousel { margin:0px !important; padding:0 !important; width:9000px; overflow:hidden;}
#carousel li {width:140px; height:230px; float:left !important; padding:5px; cursor:pointer; margin-left:5px;}
#carousel li h3{ font-size:16px;}
.bx_wrap {position:relative;}

.details-button {
	display:inline-block;
	height:27px;
	background:#5a4099;
	padding:0 8px 0 8px; 
	font:normal 17px/27px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif; 
	text-align:center; 
	white-space:nowrap; 
	color:#fff;
	border-radius:3px;
	text-decoration:none;
	}
.details-button:hover {background:#3e2776;}

img{
	max-width: 100%;
}
a{
	color:#ef4f33;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}
a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 0.8em;
	font-weight: 300;
	
	color: #3e454c;
}
h1{
	position: relative; display:block;
	width: 125px; left:0px; top:-94px; 
	text-align: center; margin-bottom:0px;
}
h2{
	font-size: 28px; 
	
	padding-top:10px; margin-top:5px;
	margin-bottom:3px; padding-bottom:3px;color:#5a409b;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
	color: #f2ac29;
}
.corr_h2{
	font-size: 25px;
	line-height: 26px;
	padding-bottom: 27px;
	margin-top: 6px;
}
.color_1{
	color: #5a4099;
}
.color_2{
	color: #3e454c;
}
.no_shad{
	-webkit-box-shadow: none!important;
	-moz-box-shadow:    none!important;
	box-shadow:         none!important;
}
.marg_1{
	margin-bottom: 28px;
}
.marg_2{
	margin-bottom: 20px!important;
}
.marg_3{
	margin-bottom: 25px;
}
.marg_4{
	margin-bottom: 67px!important;
}
.marg_5{
	margin-bottom: 52px!important;
}
.marg_6{
	margin: -3px 0 58px!important; 
}
.marg_7{
	margin-bottom: 108px!important;
}
.pad_0{
	padding-top: 23px!important;
}
.pad_1{
	padding-top: 56px;
}
.pad_2{
	padding-bottom: 25px!important;
}
.pad_3{
	padding-bottom: 28px;
}
.extra-wrap{
	overflow: hidden;
}
.animate{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.f-right{
	float: right;
}
.lh{
	line-height: 21px!important;
}
/************Header************/
header {
	width:100%;
	position:relative; 
	z-index:800;  height:150px; 
}
.sub_page{
	/*background: #151a1a url("../images/bg_1.jpg") 50% 0 no-repeat;*/
}
.sub_page .logo{
	margin-bottom: 55px;
}
.logo {
	display:inline-block; 
	margin-top: 0px; top:0px;
}
.social{ 
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}
.social-icon {
  margin: 20px 0 0;
  float: right;
}
.social-icon > li {
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.social-icon > li > a {
  display: inline-block;
}
.social-icon > li > a > img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social-icon > li > a:hover img {
  top: -5px;
}
/************End Header************/
.button1 {
	font: 500 15px/15px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0; border: 1px solid rgba(0,0,0,0.15);
    background:#8cb807;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 17px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow:         1px 2px 0 rgba(0, 0, 0, 0.3);
}
.button1:hover {
	background-position:0 bottom;
	text-decoration:none; background:#e76310;
}
.button2 {
	font: 500 15px/15px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0;
    background: url("../images/bg_more.html") repeat-x 0 0;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 14px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.button2:hover {
	background-position:0 bottom;
	text-decoration:none;
}
.slider_box{
	position: relative; margin:0 auto; display:block;
	
	width: 948px; height:490px;
	margin-top:0px;
}

/************Content***********/
#content{ height:auto;
	
}
hr {
	border: none;
	height: 3px;
	color: #fff;
	background-color: #fff;
	margin: 0 0 47px;
}
.tours_box{
	font-family: 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff; 
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: -90px;
}
.tours_box .block_1{
	position: relative;
	text-align: center;
	margin-bottom:4px;
}
.tour_info{
	position: absolute;
	width: 100%;
	top: 190px;
}
.tour_info .txt_1{
	font-weight: 100;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 9px;
}
.tour_info .txt_2{
	font-weight: 100;
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 7px;
}
.tour_info .txt_3{
	font-weight: 100;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 35px;

}
.link_1{
	color: #3e454c;
}
.link_1:hover{
	color: #f2ac29;
	text-decoration: none;
}
.list_1 {
	margin: -7px 0 0;
	list-style: none;
}
.list_1 h5 {
	position: relative;
	display: block;
	margin-bottom: 15px;
	font-style: normal;
}
.list_1 h3 {
	margin-bottom: 0;
	letter-spacing: -2px;
}
.list_1 p {
	line-height: 21px;
}
.list_1 .last {
	margin-bottom: 0 !important;
}
.list_1 > li {
	overflow: hidden;
	margin-bottom: 15px;
}
.list_1 > li > .badge > strong {
	display: block;
	margin-bottom: 0px;
}
.list_1 > li.last {
	margin-bottom: 0;
}
.list_1 > li > .badge {
	position: relative;
	padding: 12px 15px 0;
	margin: 7px 22px 2px 0;
	float: left;
	text-align: center;
	background: #f2ac29 url('../images/bg_bage.jpg') center top;
}
.list_1 > li > .badge > strong {
	margin: 0;
	font: 100 40px/40px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #f5f5f5;
}
.list_1 > li > .badge > span {
	position: relative;
	display: block;
	text-transform: uppercase;
	font: 100 20px/22px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #f7f7f7;
	padding-bottom: 3px;
}
.list_1 li .badge:after {
	position: absolute;
	display: block;
	width: 13px;
	height: 15px;
	background: url("../images/badge_arr.png") no-repeat 0 0;
	top: 14px;
	right: -12px;
	content: "";
}
.list_3 {
	position: relative;
	margin: 0;
	list-style: none;
}
.list_3 li{
	position: relative;
	margin-bottom: 26px;
}
.list_3 .badge{
	font: 100 46px/46px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	position: relative;
	color: #fff;
	float: left;
	background: #f2ac29;
	height: 55px;
	width: 65px;
	margin-right: 20px;
	padding: 10px 0 0;
}
.list_3 .txt_info{
	overflow: hidden;
} 
.list_4{
	position: relative;
	display: inline-block;
	margin: 6px 0 60px;
	overflow: hidden;
}
.list_4 li{
	width: 100%;
	position: relative;
	display: inline-block;
	float: left;
	background: url('../images/marker.html') 0 7px no-repeat;
	padding: 0 0 0 17px;
	min-height: 18px;
	margin: 0 0 5px;
}
.list_4 a{
	color: #3e454c; 
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list_4 a:hover{
	color: #f2ac29;
	text-decoration: none;
}


.list_5{
	position: relative;
	display: inline-block;
	margin: 1px 0 0;
}
.list_5 li{
	position: relative;
	float: left;
	margin-right: 19px;
	background: #eff3f4;
	margin-bottom: 20px;
	width: 194px;
}
.list_5 .right{
	margin-right: 0!important;
}
.list_5 li .thumbnail {
	display: block;
	padding: 10px;
	border: none;
}
.list_5 li .thumbnail img{
	position: relative;
	display: block;
}
.list_5 li .thumbnail .caption1{
	padding: 9px 0 0;
}
.list_5 li .thumbnail .caption1 p{
	padding-bottom: 1px;
}
.tours_box2{
	font-family: 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
}
.tours_box2 .block_1{
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.tours_box2 .tour_info{
	position: absolute;
	width: 100%;
	top: 54px;
}
.tours_box2 .tour_info .txt_1{
	font-weight: 100;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 9px;
}
.tours_box2 .tour_info .txt_2{
	font-weight: 100;
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 7px;
}
.tours_box2 .tour_info .txt_3{
	font-weight: 100;
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 35px;

}
.list_6{
	position: relative;
	display: inline-block;
	width: 100%;
	margin: -2px 0 0;
}
.list_6 li{
	position: relative;
	margin-bottom: 28px;
	overflow: hidden;
}
.list_6 li .thumbnail {
	position: relative;
	overflow: hidden;
	padding: 0;
}
.list_6 li .thumbnail .img a{
	height: 100%;
}
.list_6 li .thumbnail .img{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-top: 2px
}
.list_6 li .thumbnail img{
	position: relative;
	display: block;
}
.list_6 li .thumbnail .caption{
	position: relative;
	overflow: hidden;
	padding: 0;
}
.list_6 li .thumbnail .caption h4{
	margin-bottom: 21px;
}
.list_6 li .thumbnail .caption p{
	padding-bottom: 25px;
}
.magnifier {
	position:relative;
	display:block
}
.magnifier:after {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	opacity:0;
	left:0;
	top:0;
	background:url('../images/magnifier.html') center center no-repeat;
	-webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	-o-transition:opacity .2s linear;
	transition:opacity .2s linear
}
.magnifier:hover:after {
	opacity:.8;
	-webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	-o-transition:opacity .2s linear;
	transition:opacity .2s linear
}
.list-blog {
	margin: 0;
}
.list-blog li{
	margin-bottom: 75px;
}
.list-blog li .title{
	font: 300 20px/20px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #3e454c;
	text-transform: uppercase;
	margin-bottom: 4px!important;
}
.list-blog li time{
	font: 100 20px/20px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #f2ac29;
	text-transform: uppercase;
}
.list-blog li .date {
	position: relative;
	margin-bottom: 23px;
}
.list-blog img{
	position: relative;
	margin-bottom: 24px;
}
.list-blog li h5{
	position: relative;
	margin-bottom: 15px;
}
.list-blog li p{
	position: relative;
	margin-bottom: 26px;
}
.figure iframe {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 0 0 25px;
}
.block_2 {
	position: relative;
	line-height: 16px;
}
.block_2 .title{
	color: #333745; 
}
.dl-1{
	margin-bottom: 60px;
}
.dl-1 p{
	margin: 0!important;
}
.dl-1 span {
	display: block;
	float: left;
	width: 89px;
}
/***** contact form *****/

/***** end contact form *****/
/************End Content***********/


/************Footer************/
footer {
	font: 300 16px/16px 'Homenaje', Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: block;
	
	background:  #30363b;
	padding: 10px 0 10px;
}
footer span{
	font-weight: 600;
}
footer p{
	position: relative;
	color: #666c81;
	margin-top: 10px;
}
.companies{
	position: relative;
	display: inline-block;
	width: 100%;
	background: #e9eaea url('../images/comp_bg.jpg') 0 0 repeat-x;
	margin-bottom: 24px;
}
.list_2 {
	position: relative;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.list_2:before {
	position: absolute;
	display: block;
	width: 1px;
	height: 125px;
	background: #dcdcdc;
	top: 0;
	left: 1px;
	content: "";
}
.list_2 > li {
	float: left;
	border-right: 1px solid #dcdcdc;
}
.soc-links a {
	display:block;
	width:34px;
	height:34px;
}

.soc-links a:hover {
	background-position:0 -34px;
}

.soc-links li {
	display:block;
	float:left;
	margin: 0 0 0 9px;
	border-radius: 500px;
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	-webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow:         1px 2px 0 rgba(0, 0, 0, 0.2);
}

.soc-links {
	position: relative;
	display: inline-block;
	float: right;
}

.soc-link1 {background:url('../images/soc_icon1.png') no-repeat 0 0 ;
}
.soc-link2 {background:url('../images/soc_icon2.png') no-repeat 0 0 ;
}
.soc-link3 {background:url('../images/soc_icon3.png') no-repeat 0 0 ;
}
.soc-link4 {background:url('../images/soc_icon4.html') no-repeat 0 0 ;
}
.link{
	color: #68757f;
}
.link:hover{
	color: #f2ac29;
	text-decoration: none;
}
/************End Footer************/


/*==================================RESPONSIVE LAYOUTS===============================================*/

